.devcontainer
.vscode

CMakeFiles/
Makefile
CMakeCache.txt

# components
# components/
# components/*

build/
out/

*.o
*.obj
main/wifi_config.h
components/wifi/include/wifi_config.h
components/bus_api/include/bus_api_config.h
documentation
